// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green-success: #9FC6A9;
$green: #007A21;
$gray: #6E6E6E;
$medium-gray: #B3B5B7;
$light-gray: #F0F0F0;
$white: #FFFFFF;
$black: #000000;
