// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Lexend:100,200,300,400,500,600,700,800,900|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Lexend", "Helvetica", "sans-serif";
$headers-font: "Lexend", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #0000;
}
h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0000;
}
h2 {
  font-size: 1rem;
  font-weight: 300;
  color: #0000;
}
