.garden-container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.garden{
  width: 10px;
  height: 10px;
  transition: width 2s, height 2s;
  border: 5px solid black;
  border-radius: 8px;
}

.picto-container {
  // width: 10px;
  // height: 10px;
  position: relative;
}
.picto-container .picto-checked {
  position: absolute;
}


.check{
  display: none;
}

.check + label {
  opacity: 1;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.check:checked + label {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  background-image: url("design/square-2.png");
  background-size: contain;
  background-repeat: no-repeat;
}


#loading-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

#map {
  height: 400px;
  width: 100%;
}

.card-plants {
  background-image: url("design/square-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  }
