// Specific CSS for your home-page

.background-home {
background-image: url("design/home-gif-2.gif");
background-size: cover;
background-repeat: no-repeat;
background-position: center top;
}

.btn-home {
padding-top: 50vh;
}

#map2 {
  height: 100%;
  width: 100%;
}

#map {
  height: 75%;
  width: 100%;
}

#lol{
  background-color: #2a2a2a;
  border: 5px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 70px;
}

#lol:hover {
  background-color: #fcfdfc;
  color: black;
  border: solid 5px black;
}

.garden_exposure label {
  display: none;
}

#map2 {
  height: 100%;
  width: 100%;
}
#map {
  height: 75%;
  width: 100%;
}

.papa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
