// Specific CSS for your home-page

.background-home {
background-image: url("./illustr-home_2.png");
background-size: contain;
background-repeat: no-repeat;
}

#map2 {
  height: 100%;
  width: 100%;
}
#map {
  height: 75%;
  width: 100%;
}
