<h1>Test#compass</h1>
<p>Find me in app/views/test/compass.html.erb</p>


<div data-controller="compass" data-action="deviceorientationabsolute@window->compass#update">

  <div  class="compass">
    <div class="arrow"></div>
    <div class="compass-circle"></div>
    <div  data-compass-target= "compassCircle" class="my-point"></div>
  </div>
</div>
