<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
.flower {
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: fixed;
}

.flower #one {
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    height: 170px;
  }
  .flower #two {
    position: absolute;
		top: 0;
		left: 0;
    transform: scaleX(-1);
    width:170px;
    height:170px;

  }
  .flower #four {
    position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);


  }
  .flower #five {
    position: absolute;
		bottom: 0;
		left: 0;
    width:170px;
    height:170px;
    rotate: 180deg;

  }

  .flower #three {
    position: absolute;
		bottom: 0;
		right: 0;
    transform: scaleX(-1);
    rotate: 180deg;

    width:170px;
    height:170px;
  }

  </style>
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
  <div class="dialog">
    <div>
      <h1>The page you were looking for doesn't exist.</h1>
      <p>You may have mistyped the address or the page may have moved.</p>
    </div>
    <p>If you are the application owner check the logs for more information.</p>
   
  </div>
</body>
</html>
