<div class="background-home vh-100">
  <div class="container pt-3 pb-5">
    <div class="row">
      <div class="col-3">
        <%# <%= image_tag "icons/Logo11", class: 'img-fluid pb-4', id:"Logo11" %>
      </div>
      <div class="col-9">
        <h1>Urban Garden </h1>
        <h3 class="pb-2">Small seeds, greener cities!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-8" style="padding-left: 1rem;">
        <%# <p>Smart gardening device that will help you grow plants on your windowsill, balcony or terrace.</p> %>
      </div>
    </div>
      <div class="col-12 text-center pb-5 fixed-bottom" style="max-width: 1140px; margin: auto; padding-left: 1rem; padding-right: 1rem;">
        <%= button_to "Start to grow now!", garden_build_index_path('build'), method: :post, class: "button w-100" %>
      </div>

  </div>
</div>
