<div class="background-home vh-100">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-8">
        <h1 class="pb-3">Urban Garden</h1>
        <p>Smart gardening device that will help you grow plants on your windowsill, balcony or terrace.</p>
      </div>
      <div class="col-12 text-center pt-5">
        <%= button_to "Start to grow now!", garden_build_index_path('build'), method: :post, class: "btn btn-primary btn-lg mt-5 btn-home", id:"lol" %>
      </div>
      <%# <div class="progress-bar progress-bar-striped progress-bar-animated bg-success progress" role="progressbar" style="width: 0%; border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">0%</div> %>
  </div>
</div>
