<h2>Hi <%= @email %>,</h2>

<h3>je serais ravi de vous donner des conseils de jardinage !</h3>

<h4>Voici quelques astuces ludiques pour planter et entretenir ses plantes et ses fruits:</h4>

<h5>Aucuba:</h5>
<p> Cette plante d'ombre aime être plantée dans un sol riche en matières organiques. Arrosez régulièrement pour maintenir le sol humide. Les feuilles peuvent être taillées à tout moment de l'année.
</p>
<h5>Agave:</h5>
<p> Cette plante résistante ne nécessite pas beaucoup d'eau, alors assurez-vous de la planter dans un sol bien drainé et d'arroser régulièrement mais pas trop souvent. Vous pouvez également ajouter un peu de compost pour nourrir la plante.
</p>
<h5>Basilic:</h5>
<p> Plantez les graines ou les plants dans un sol riche et bien drainé, en les espaçant d'environ 15 cm. Arrosez régulièrement et ajoutez de l'engrais tous les mois. Les feuilles peuvent être récoltées une fois que la plante a atteint une hauteur de 15 à 20 cm.
</p>
<h5>Menthe:</h5>
<p> Cette plante préfère un sol humide et bien drainé. Plantez-la dans un endroit semi-ombragé et arrosez-la régulièrement. La menthe peut être récoltée tout au long de la saison de croissance.
</p>
<h5>Rose:</h5>
<p> Cette plante peut être plantée au printemps ou à l'automne dans un sol bien drainé et fertile. Arrosez régulièrement et ajoutez de l'engrais tous les mois. Les roses peuvent être récoltées une fois qu'elles ont atteint leur pleine maturité.
</p>
<h5>Tulipe:</h5>
<p> Plantez les bulbes au début de l'automne dans un sol bien drainé. Arrosez régulièrement mais ne laissez pas le sol détrempé. Les tulipes peuvent être récoltées une fois qu'elles ont fleuri.
</p>
<h5>Fraise:</h5>
<p> Cette plante aime un sol fertile et bien drainé. Plantez-la au printemps et arrosez régulièrement. Les fraises peuvent être récoltées une fois qu'elles ont mûri et sont rouges.
</p>
<h5>Framboise:</h5>
<p> Plantez les plants de framboisiers au printemps ou à l'automne dans un sol fertile et bien drainé. Arrosez régulièrement et ajoutez de l'engrais tous les mois. Les framboises peuvent être récoltées une fois qu'elles sont mûres et sont faciles à cueillir en les tirant doucement de la plante.
</p>
<h5>Concombre:</h5>
<p> Plantez les graines ou les plants dans un sol fertile et bien drainé en les espaçant d'environ 30 cm. Arrosez régulièrement et ajoutez de l'engrais tous les mois. Les concombres peuvent être récoltés une fois qu'ils ont atteint leur taille mature.
</p>
<h5>Radis:</h5>
<p> Plantez les graines dans un sol fertile et bien drainé en les espaçant d'environ 5 cm. Arrosez régulièrement et ajoutez de l'engrais tous les mois. Les radis peuvent être récoltés une fois qu'ils ont atteint leur taille mature.</p>
</p>

<h3>conseil et materiel</h3>

<p>Pour un balcon de 4 mètres carrés, vous pouvez commencer avec des pots de différentes tailles en fonction des plantes que vous souhaitez faire pousser. Il est préférable de choisir des pots en terre cuite ou en plastique résistant aux intempéries. Assurez-vous également que les pots ont des trous de drainage pour permettre à l'eau de s'écouler facilement.

En plus des pots, vous aurez besoin d'un terreau de qualité, d'un arrosoir, d'un râteau ou d'une petite pelle pour travailler le sol, d'un sécateur pour tailler les plantes et d'un engrais pour nourrir vos plantes.

Pour économiser de l'espace sur votre balcon, vous pouvez également utiliser des étagères ou des supports muraux pour suspendre vos pots. Cela vous permettra d'avoir plus d'espace pour planter vos plantes.

Enfin, assurez-vous de planter les plantes qui conviennent à la taille et à la luminosité de votre balcon. Les plantes à faible croissance conviennent mieux aux petits espaces, tandis que les plantes qui nécessitent beaucoup de soleil doivent être plantées dans des zones bien éclairées.</p>

<h4>good lucke</h4>






<p>See ya!</p>

<%#= image_tag attachments[@path_name].url %>
