 <div data-controller="share" data-share-url-value="<%= @url %>">
      <button data-action="click->share#send">Invite your friends</button>
    </div>

<%= form_with url: send_email_garden_path  do |f| %>
<%= f.email_field :email %>
<%= f.submit %>
<% end %>
