.button {
  font-family: 'Rubik Dirt';
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  position: relative;
  background-color: black;
  border: 0px solid #000000;
  // border-radius: 8px;
  z-index: 2;
  &#button-category{
    padding-left: 70px;
    padding-right: 70px;
  }
  &#button-geoloc{
    padding-left: 60px;
    padding-right: 60px;
    margin: 0 auto;

  }
  &#button-send{
    padding-top: 6px ;
    padding-bottom: 6px;
  }
  &#button-last{
    background-color: black;
    border: 0px solid #000000;
    color: white;
  }
  #pick-button{
    width: 100%;
  }

}

.button-middle{
  padding-bottom: 15px;
  margin-bottom: 20px;
}


.button-disabled {
  font-family: 'Rubik Dirt';
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  position: relative;
  background-color: black;
  border: 0px solid #000000;
  // border-radius: 8px;
}

// .button-disabled:disabled {
//   background-color: $medium-gray;
// }

.button-disabled:hover {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

#le-button{
  background-color: transparent;
  color: white;
  // border-radius: 8px;

}


.withoutHover:hover {
  text-decoration: none;
  color: white;

}

#gris{
  color: #3e3e3e;
}
