.results {
  display: flex;
  flex-direction: column;
  background-color: grey;
  min-height: 100px;
  width: 100%;
  color: aliceblue;
  .plant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

  }
}
