.radio {
  display: none;
}

.radio:checked + label {
  opacity: 1;
  // filter: brightness(100%);
  // -webkit-filter: brightness(100%);
  border: solid 5px #000;
}

.radio + label {
  opacity: 0.8;
  // filter: brightness(50%);
  // -webkit-filter: brightness(50%);
}
